# Example environment variables for the web app
# DATABASE_URL should point to your PostgreSQL instance
## Example using a Neon serverless Postgres instance:
# DATABASE_URL=postgresql://neondb_owner:npg_WONhw6ZV5XgH@ep-soft-violet-a168edqt-pooler.ap-southeast-1.aws.neon.tech/asset_management?sslmode=require&channel_binding=require
DATABASE_URL=postgres://user:password@localhost:5432/asset_management
AUTH_SECRET=your-auth-secret
